@charset "utf-8";
/* CSS Document */

#header{width:1002px;margin:auto;}
div,p{padding:0; margin:0;}  
#header ul{padding:0; margin:0;} 
#header ol{padding:0; margin:0;} 
#header li{padding:0; margin:0;} 
#header li{list-style-type:none;}
img{border:0;}
#header ol{list-style:none;}
#header ul{list-style:none;}
#header a{ text-decoration:none}

#headtop{background:#ffffff;height:100px;text-align:center;width:1002px;color:#0070BF;padding-top:10px;padding-bottom:13px;line-height:250%;}
#headtop p.large {font-size: 30px;}
#headtop p.small{font-size: 23px;}
#navMenu{width:1002px;height:40px;overflow:hidden;background: url(../images/bg2.png) repeat-x ;}


#navMenu li{float: left;}
/*width:auto;text-align:center;line-height: 40px;height: 40px;background: url(../images/bg3.png) no-repeat right;*/
#navMenu li a{display: block;color:#ffffff;padding-right:18px;padding-left:17px;width:auto;text-align:center;line-height: 40px;height: 40px;background: url(../images/bg3.png) no-repeat right;}
#navMenu li a.end{background:none transparent}
#navMenu li a:hover{background:url(../images/bg5.png);}

/*-------- 下拉菜单 --------------*/
#navMenu li .dropMenu { position:absolute;display:none}/*margin-left:-48px;*/
#navMenu li .dropMenu li {float:none}
/*background:url(../images/bg4.png);padding:0 3px;width: 150px;margin:0;height: 30px;line-height: 30px;*/
#navMenu li .dropMenu li a {color:#293d6b;border-top:#B4C5D1 1px solid;height:25px;line-height:25px;background:url(../images/bg4.png)}
#navMenu li .dropMenu  li a:hover {background:#b5c4cf;}

#navMenu li:hover .dropMenu{display:block}
